<div>
    <div class="d-flex">
        <div class="mr-auto p-2">
            <h2> {{post.date}} </h2>
        </div>
        <div class="p-2">
            <button class="btn btn-danger btn-sm"
            (click)="removePost(post)">Usuń</button>
        </div>
        <div class="p-2">
            <button class="btn btn-primary btn-sm" 
            (click)="onEditPost()">Edytuj</button>
        </div>
      </div>
    <b>Trener: </b> {{post.coach}} <br>
    <b>Technika: </b> {{post.technique}} <br>
    <b>Ocena: </b> <bjj-display-rating [rate]="post.rate"></bjj-display-rating> <br>
    <b>Notatki: </b> {{post.note}} <br>
    <hr>
    <div *ngIf="edited">
        <bjj-new-post [post]="post" (submit)="onEditPost()"></bjj-new-post>
    </div>
</div>
